<h1>Description</h1>
<%= @sub.description %>
<br>
<%= link_to "Make New Post!", "#{new_post_url}?sub_id=#{params[:id]}"%>
<br>
<% @sub.posts.each do |post| %>
<ul>
  <li><%= link_to post.title,post_url(post)  %></li> 
</ul>

<% end  %>
