.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid black;
	position: relative;
}

.language-nav {
	// display: inline-block;
	position: absolute;
	top: -60px;
	// left: calc(50% - (177.78px/2));
	background: white;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	// border: 1px solid $light-gray;
	// bottom-border: none;

}

.language-nav a {

	margin-right: 10px;

	text-transform: uppercase;
	font-family: $sans-serif;
	font-size: 10px;
	color: $dark-gray;
}

.language-nav ul {
	display: flex;
	padding: 1px;
	margin: 0;
	// position: relative;
	// line-height: 4em;
	max-height: 10px;
	line-height: 5em;




}

.logo {
	max-width: 400px;
	margin-top: 10px;
}

.masthead-links {
	display: flex;
		font-family: $sans-serif;
		font-size: 11px;
		margin-top: 10px;
		margin-bottom: 10px;

}

.masthead-links li {
	margin-left: 10px;
	margin-right: 10px;
	border-right: 1px solid $light-gray;
}

.masthead-links button {
	background: none;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: none;
}

.masthead-links button:hover {
	background-color: $lightest-gray;
}

.masthead-links a,
.masthead-links button,
.masthead-links time {
	margin-right: 10px;
}

.masthead-links i {
	margin-right: 5px;
}

.masthead-links strong {
	color: green;
}
