<h1>Make a plan plz.</h1>

<form class="" action="<%= plans_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label> Plan <input type="text" name="plan[body]" value=""></label>
  <input type="submit" name="" value="Make Plan">
</form>
